__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store
outputs/models/*
outputs/metrics/*
outputs/figures/*
!outputs/models/.gitkeep
!outputs/metrics/.gitkeep
!outputs/figures/.gitkeep

node_modules/

data/raw/coupang_saved_html/
data/raw/kakaomap_saved_html/
data/raw/cookies/
data/raw/*.log
